# Even though ignoring everything by default, will add tracked files here
# for documentation (future me).

# Ignore all by default.
*

# Re-include common directories; this does not include all files below
# them it just marks said directories as included for when a file I
# do want is under it, otherwise such a file is ignored per the
# gitignore docs.
!.config/
!.local/

# wget
!.config/wgetrc

# htop
!.config/htop/
!.config/htop/htoprc

# ssh
!.ssh/
!.ssh/config

# neovim (just in-case I have to use it)
!.config/nvim/
!.config/nvim/config.vim

# LinearMouse
!.config/linearmouse/
!.config/linearmouse/linearmouse.json

# tmux
!.config/tmux/
!.config/tmux/tmux.conf

# X
!.Xmodmap
!.Xresources

# * * * * * * * * * * * * * * * * * * * * * * * * GPG
!.config/gnupg/
!.config/gnupg/gpg.conf
!.config/gnupg/gpg-agent.conf

# Annoying required symlink for some programs that hard-code read here.
!.gnupg

# * * * * * * * * * * * * * * * * * * * * * * * * Emacs
!.config/emacs/
!.config/emacs/early-init.el
!.config/emacs/init.el

# * * * * * * * * * * * * * * * * * * * * * * * * WezTerm
!.config/wezterm/
!.config/wezterm/wezterm.lua

# * * * * * * * * * * * * * * * * * * * * * * * * Helix
!.config/helix/
!.config/helix/config.toml

# * * * * * * * * * * * * * * * * * * * * * * * * Shell configuration
!.profile
!.bashrc
!.config/shell-profiles/
!.config/shell-profiles/*.profile
!.config/shell-profiles/*.bashrc

# * * * * * * * * * * * * * * * * * * * * * * * * Local share
!.local/share/
!.local/share/fonts/
!.local/share/fonts/*.ttf

# * * * * * * * * * * * * * * * * * * * * * * * * Git meta
!.gitignore
!.gitmodules
!.config/git/
!.config/git/config
!.config/git/gitignore_global

# * * * * * * * * * * * * * * * * * * * * * * * * Repo meta
!/.config/tjp-meta-config/
!/.github/
!/LICENSE
!/LICENCE
!/README.md
!/README.org

# * * * * * * * * * * * * * * * * * * * * * * * * Misc
# Old plans to add nice create-repo CLI, using Magit instead now.
!bin/git_repo_config
